/* You can add global styles to this file, and also import other style files */
h1{
    background-color: pink;
    text-align: center;
}
h2{
    background-color: rgb(170, 45, 170);
    text-align: center;
}
// p{
//     font-size: 26px;
// }